.social-b li a:before {
    display: none; }
.social-b li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.social-b li a:hover {
    background: #ff6189;
    color: #ffffff; }
.social-b{
    margin-left: 18px;
    margin-top:16px ;
}

.social-b li {
    display: inline-block; }

.social-b li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    color: #ff2e63;
}

.service p {
}

.post-entry img{
    height: 255px;
    width: 255px;
}

.carousel-indicators li{
    background: #000!important;
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    height: 3px!important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    width: 23px;
    border-radius: 50%;
}

.carousel-control-next-icon {
    background-image:url("../images/next.svg");
}

.carousel-control-prev-icon {
    background-image:url("../images/v2.svg");
}

.site-navigation>a>span{
    color: #ff2e63 !important;
}

.site-footer {
    background: #222;
    color: #aaa;
    padding: 12px;
    padding-top: 27px;
}